@font-face {
  font-family: 'ls-plugin-extra-tags-icons';
  src:
    url('fonts/ls-plugin-extra-tags-icons.ttf?qk713l') format('truetype'),
    url('fonts/ls-plugin-extra-tags-icons.woff?qk713l') format('woff'),
    url('fonts/ls-plugin-extra-tags-icons.svg?qk713l#ls-plugin-extra-tags-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="__lspet__icon-"], [class*=" __lspet__icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ls-plugin-extra-tags-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.__lspet__icon-cross:before {
  content: "\ea0f";
}
.__lspet__icon-checkmark:before {
  content: "\ea10";
}
.__lspet__icon-checkmark2:before {
  content: "\ea11";
}
.__lspet__icon-checkbox-checked:before {
  content: "\ea52";
}
.__lspet__icon-checkbox-unchecked:before {
  content: "\ea53";
}
.__lspet__icon-radio-checked2:before {
  content: "\ea55";
}
.__lspet__icon-radio-unchecked:before {
  content: "\ea56";
}
